<h1><%= @question.body %></h1>

<h2>Answers</h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<%= link_to 'Back', tests_path %> | <%= link_to 'edit', edit_question_path(@question) %>
