<h2><%= t('.header') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, t('.email') , class: 'form-label'%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, t('.password'), class: 'form-label' %> <i>(<%= t('.leave_blank') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('.minimum_characters', count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, t('.password_confirmation'), class: 'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, t('.current_password'), class: 'form-label' %> <i>(<%= t('.password_help') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<h3><%= t('.cancel_title') %></h3>

<p><%= button_to t('helpers.submit.user.delete'), registration_path(resource_name), data: { confirm: t('helpers.delete') }, method: :delete %></p>

<%= link_to t('helpers.page.back'), :back %>
