<h2><%= t('.header') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, t('.email'), class: 'form-label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :first_name, t('.first_name'), class: 'form-label' %><br />
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :last_name, t('.last_name'), class: 'form-label' %><br />
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :password, t('.password'), class: 'form-label' %>
    <% if @minimum_password_length %>
      <em><%= t('.minimum_characters', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, t('.password_confirmation'), class: 'form-label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>

    <span class="mismatch-notification hide">Password mismatch</span>
  </div>

  <div class="mb-3">
    <%= f.select :type, %w[User Admin], {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_pack_tag 'utilities/compare_password.js' %>
