<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.badge_type %></td>
  <td class="align-middle"><%= octicon badge.image_url %></td>
  <td class="align-middle"><%= link_to t('admin.badges.show.show_button'), admin_badge_path(badge) %></td>
  <td class="align-middle">
    <%= link_to t('admin.badges.show.edit_button'), edit_admin_badge_path(badge) %>
  </td>
  <td class="align-middle">
    <%= link_to t('admin.badges.show.delete_button'),
                admin_badge_path(badge),
                method: :delete,
                data: { confirm: t('admin.badges.show.delete_confirmation') }
    %>
  </td>
</tr>
