<div class="form-group">
  <%= form_with(model: [:admin, @badge], local: true) do |form| %>
    <%= render 'shared/errors', resource: @badge %>

    <div class="mb-3">
      <%= form.label :title, class: 'form-label' %><br>
      <%= form.text_field :title, id: :badge_name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :badge_type, class: 'form-label' %><br>
      <%= form.select :badge_type, Badge.badge_types, { prompt: true }, { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= form.label :parameter, class: 'form-label' %>
      <%= form.text_field :parameter, id: :parameter, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :image_url, class: 'form-label' %>
      <%= form.select :image_url, Octicons::OCTICON_SYMBOLS.keys, { prompt: true }, { class: 'form-select' } %>
    </div>

    <div class="mb-3">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
