<h3><%= t('.header', title: @test_passage.test.title)%></h3>

<h3>
  <%= t('.score') %>:

  <span class="<%= @test_passage.passed? ? 'text-success' : 'text-danger' %>">
    <%= number_to_percentage(@test_passage.result, precision: 2) %>
  </span>
</h3>

<h4><%= t('.answered_correctly', correct_question: @test_passage.correct_question, questions_count: @test_passage.questions_count )%></h4>

<%= link_to t('helpers.page.main'), tests_path, class: "btn btn-primary"  %>
