<h3>Test <%= @test_passage.test.title %> completed!</h3>

<h3>
  Your score:

  <span class="<%= @test_passage.passed? ? 'passed' : 'failed' %>">
    <%= number_to_percentage(@test_passage.result, precision: 2) %>
  </span>
</h3>

<h4>Answered correctly for <%= @test_passage.correct_question %> of <%= @test_passage.questions_count %> questions</h4>

<%= link_to 'To the list of tests', tests_path, :class => "btn"  %>
