<h3><%= t('.header') %> <%= @test_passage.test.title %></h3>

<% if @test_passage.test.has_timer? %>
  <%= content_tag :div,
                  class: 'timer',
                  data: { remaining_time: @test_passage.remaining_time } do %>
    <%= content_tag :span, nil, class: 'timer_label' %>
  <% end %>
<% end %>

<% if @test_passage.test.questions.present? %>
  <div class="progress test-progress">
    <%= content_tag :div, '',
                    class: 'progress-bar bg-success',
                    id: 'test-progress',
                    data: { question_number: @test_passage.current_question_index,
                            questions_count: @test_passage.questions_count } %>
  </div>

  <p>
    <%= @test_passage.current_question.body %>
  </p>

  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
      <div class="form-check mb-3">
        <%= b.label do %>
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
          <%= b.object.title %>
        <% end %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= link_to t('.gist'), gist_test_passage_path(@test_passage), method: :post, class: 'btn btn-outline-success' %>
    </div>

    <div class="mb-3">
      <p><%= form.submit t('.next'), class: 'btn btn-success' %></p>
    </div>
  <% end %>

  <%= javascript_pack_tag 'utilities/passage-progress.js' %>
<% else %>
  <div class="mt-4 mb-4">
    <h1><%= t('.questions_not_found') %></h1>
  </div>
<% end %>

<%= javascript_pack_tag 'utilities/timer.js' %>
