<div class="header header--admin">
  <div class="header__logo">
    <%= link_to t('.panel_title'), root_path, class: 'logo' %>
  </div>

  <div class="header__side">
    <% if user_signed_in? %>
      <p><%= welcome_message(current_user) %>!</p>

      <ul class="header__nav">
        <li><%= link_to t('helpers.submit.test.create'), new_admin_test_path, class: 'btn' %></li>
        <li><%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: :btn %></li>
      </ul>
    <% else %>
      <ul class="header__nav">
        <li><%= link_to t('.sign_up'), new_user_registration_path, class: :btn %></li>
        <li><%= link_to t('.sign_in'), new_user_session_path, class: :btn %></li>
      </ul>
    <% end %>
  </div>
</div>
