<div class="header">
  <div class="header__logo">
    <%= link_to 'TestGuru', root_path, class: 'logo' %>
  </div>

  <div class="header__side">
    <% if user_signed_in? %>
      <div><b><%= welcome_message(current_user) %></b>!</div>

      <ul class="header__nav">
        <li><%= link_to t('tests.index.header'), tests_path, class: 'btn' %></li>
        <li><%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: :btn %></li>
      </ul>
    <% else %>
      <ul class="header__nav">
        <li><%= link_to t('.sign_up'), new_user_registration_path, class: :btn %></li>
        <li><%= link_to t('.sign_in'), new_user_session_path, class: :btn %></li>
      </ul>
    <% end %>
  </div>
</div>
