<div class="header">
  <div class="header__logo">
    <%= link_to 'TestGuru', root_path, class: 'logo' %>
  </div>

  <div class="header__side">
    <% if user_signed_in? %>
      <div>Welcome, <b><%= welcome_message(current_user) %></b>!</div>

      <ul class="header__nav">
        <li><%= link_to 'Test list', tests_path, class: 'btn' %></li>
        <li><%= link_to 'Exit', destroy_user_session_path, method: :delete, class: :btn %></li>
      </ul>
    <% else %>
      <ul class="header__nav">
        <li><%= link_to 'Sign up', new_user_registration_path, class: :btn %></li>
        <li><%= link_to 'Sign in', new_user_session_path, class: :btn %></li>
      </ul>
    <% end %>
  </div>
</div>
