<p id="notice"><%= notice %></p>

<p><strong><%= t('.answer') %></strong> <%= @answer.title %></p>

<p><strong><%= t('.correct') %></strong> <%= @answer.correct %> </p>

<%= link_to t('helpers.submit.answer.edit'), edit_admin_answer_path(@answer), class: 'link-primary' %> |
<%= link_to t('helpers.page.back'), admin_question_path(@answer.question), class: 'link-primary' %>
