<h1><%= t('.header') %> "<%= @question.test.title %>"</h1>

<p><%= @question.body %></p>

<h2><%= t('.answers') %></h2>

<%= link_to t('helpers.submit.answer.new'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('helpers.page.back'), admin_tests_path %> | <%= link_to t('helpers.submit.question.edit'), edit_admin_question_path(@question) %>
