<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :level, class: 'form-label' %>
    <%= form.number_field :level, id: :test_level, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, class: 'form-label' %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :passage_time, class: 'form-label' %>
    <%= form.number_field :passage_time, id: :passage_time, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
