<h3><%= t('.header') %></h3>

<%= render 'shared/errors', resource: @test %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th class="sort-by-title pointer">
      <%= t('helpers.label.test.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('helpers.label.test.level') %></th>
    <th><%= t('helpers.label.test.questions') %></th>
    <th><%= t('.passage_time') %></th>
    <th colspan="3"><%= t('helpers.label.test.action') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>

<br />

<%= link_to t('helpers.submit.test.create'), new_admin_test_path, class: 'btn btn-primary' %>

<%= javascript_pack_tag 'utilities/sorting.js' %>
<%= javascript_pack_tag 'utilities/form-inline.js' %>
