<h3><%= @test.title %></h3>

<table class="table table-bordered">
  <thead>
  <tr>
    <td>
      <%= t('helpers.label.question.body') %>
    </td>
    <td colspan="2">
      <%= t('helpers.label.question.actions') %>
    </td>
  </tr>
  </thead>
  <tbody>
  <% @test.questions.each do |question| %>
    <tr>
      <td>
        <%= link_to question.body, admin_question_path(question), class: 'link-primary' %>
      </td>
      <td>
        <%= link_to t('helpers.submit.test.edit'), edit_admin_question_path(question), class: 'link-primary' %>
      </td>
      <td>
        <%= link_to t('helpers.submit.test.delete'),
                    admin_question_path(question),
                    method: :delete,
                    class: 'link-danger',
                    data: { confirm: t('helpers.delete') } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to t('helpers.submit.question.add'), new_admin_test_question_path(@test), class: 'btn btn-primary '  %>

<br />

<%= link_to  t('helpers.page.back'), admin_tests_path %>
