<h1>Question <%= @test.id %></h1>

<table>
  <thead>
  <tr>
    <td>
      Body
    </td>
    <td colspan="2">
      Actions
    </td>
  </tr>
  </thead>
  <tbody>
  <% @test.questions.each do |question| %>
    <tr>
      <td>
        <%= link_to question.body, admin_question_path(question) %>
      </td>
      <td>
        <%= link_to 'edit', edit_admin_question_path(question) %>
      </td>
      <td>
        <%= link_to 'delete',
                    question_path(question),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Add question', new_admin_test_question_path(@test), :class => "btn"  %>

<br />

<%= link_to 'Back', admin_tests_path %>
