<h1><%= t('tests.index.header') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('helpers.label.test.title') %></th>
    <th><%= t('helpers.label.test.level') %></th>
    <th><%= t('helpers.label.test.questions') %></th>
    <th><%= t('helpers.label.test.action') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>
