<h3><%= t('tests.index.header') %></h3>

<table class="table table-bordered">
  <thead>
  <tr>
    <th class="sort-by-title pointer">
      <%= t('helpers.label.test.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('helpers.label.test.level') %></th>
    <th><%= t('helpers.label.test.questions') %></th>
    <th><%= t('helpers.label.test.action') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>

<%= javascript_pack_tag 'utilities/sorting.js' %>
